<a href="https://colab.research.google.com/github/georgezefko/02807_Computational_tools_for_DS/blob/main/Exercise_2_Project_1_GP_3rd_Oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02807: Project 1
 
## Practical information
 
* This project must be completed in groups of 3 students.
    * The group must be registered on the course site on DTU Learn: My Course > Groups
* This project must be handed in as a jupyter notebook to the course site on DTU Learn. 
    * Go to the Course Content > Assignments tab to upload your submission. 
* This project is due on Monday, November 1, 20:00.

## Submission rules

* Each group has to hand in *one* notebook (`.ipynb`) with their solutions, including a filled out Contribution table (see below).
* Your solution must be written in Python.
* For each question you should use the cells provided ("`# your code goes here`") for your solution
    * It is allowed to add code cells within a question block, but consider if it's really necessary.
* You should not remove the problem statements, and you should not modify the structure of the notebook.
* Your notebook should be runnable and readable from top to bottom.
    * Meaning that your code cells work when run in order (from top to bottom).
    * Output of any cell depends only on itself and cells above it.
* Your notebook should be submitted after having been run from top to bottom.
    * This means outputs are interpretable without necessarily running your cells.
    * The simplest way to achieve this is using the jupyter menu item Kernel > Restart & Run All just prior to submission. If any cell fails when you do this, your notebook is not ready for submission.
* Failure to comply may make it impossible for us to evaluate your submission properly, which will likely negatively impact the points awarded.
    
 
## Colaboration policy
 
* It is not allowed to collaborate on the exercises with students outside your group, except for discussing the text of the exercise with teachers and fellow students enrolled on the course in the same semester. 
* It is not allowed to exchange, hand-over or in any other way communicate solutions or parts of solutions to the exercises. 
* It is not allowed to use solutions from similar courses, or solutions found elsewhere.

## Contribution table and grading

* The total amount of points in the project is 110.
* You have to indicate who has solved each part of each exercise in a **contribution table**. 
* The following is an example of a contributions table:

|        | Exercise 1 | Exercise 2 | Exercise 3 | Exercise 4 |
|--------|------------|------------|------------|------------|
| **Part 1** | John       |    Mary        |     Ann       |   Mary, Ann         |
| **Part 2** |     Mary       |    Mary        |   Ann         |    John, Ann        |
| **Part 3** |     John, Mary, Ann       |      John, Ann      |   John         | **n.a.**      |
| **Part 4** | **n.a.**       |  Ann          |     John, Mary       | **n.a.**       |
| **Part 5** | **n.a.**     | John, Mary, Ann           | John       | **n.a.**       |

* A group member can take credit for solving a part of an exercise only if they have contributed **substantially** to the solution. 
    * Simple contributions, such as correcting a small bug or double-checking the results of functions, are not sufficient for taking credit for a solution.
    * Several group members can take credit for the same solution if they all have contributed substantially to it.
* Each group member must contribute **at least 50 points**. 
    * If no name is provided for an exercise's part, **all group members** are considered contributors to it.
* Group members should decide amongst themselves how to collaborate on the project to meet the above-mentioned constraints.  
* Scores are individual. The score $\text{score}(m)$ for a group member $m$ ranges from 0 to 10 and is calculated as follows: 

  * $\text{individual-score}(m) = \frac{\text{total number of points for the parts correctly solved by }m}{\text{total number of points for the parts contributed by }m}$

  * $\text{group-score} = \frac{\text{total number of points correctly solved by any group member}}{\text{total number of points in the project}}$

  * $\text{score}(m) =  7.5 \cdot \text{individual-score}(m) + 2.5 \cdot \text{group-score}$

* **Example**: in the contribution table above, suppose that all parts are solved correctly except for those of Exercise 4, which are both wrong. Then Ann's score is calculated as follows:

  * $\text{individual-score}(Ann) = \frac{2.5+12.5+12.5+2.5+15+5}{2.5+12.5+12.5+2.5+15+5 + 10 + 10} = \frac{50}{70} = 0.714$

  * $\text{group-score} = \frac{90}{110} = 0.818$

  * $\text{score}(Ann) = 7.5\cdot 0.714 + 2.5 \cdot 0.818 = 7.4$

# Group declaration table 

This table must be filled before submission.

In [1]:
import pandas as pd

d = {'Exercise 1' : ["", "", "", "", ""], 
     'Exercise 2' : ["", "", "", "", ""],
     'Exercise 3' : ["", "", "", "", ""], 
     'Exercise 4' : ["", "", "", "", ""],
     } 
  
ct = pd.DataFrame(d, index =['Part 1','Part 2','Part 3','Part 4','Part 5']) 

ct

       Exercise 1 Exercise 2 Exercise 3 Exercise 4
Part 1
Part 2
Part 3
Part 4
Part 5

# Introduction to the Datasets

![link text](https://ph-files.imgix.net/069dd825-cddf-4048-adde-8e81396c2c68?auto=format)


You will be working with datasets obtained through the [The Movie Database (TMDb) API](https://developers.themoviedb.org/3/getting-started/introduction). The first dataset is part of the MovieLens Latest Full Dataset, comprising 26 million ratings on 45.000 movies from 27.000 users. Let's look at the features in this dataset.

**Features**

* **adult**: Indicates if the movie is X-Rated.
* **belongs_to_collection**: A stringified dictionary with info on the movie series a particular film belongs to (e.g.: Lord of the Rings).
* **budget**: The movie budget in dollars.
* **genres**: A stringified list of dictionaries describing all genres associated with the movie.
* **homepage**: The movie's official homepage.
* **id**: An identifier for the movie.
* **imdb_id**: IMDB's identifier for the movie.
* **original_language**: The language in which the movie was shot.
* **original_title**: The original title of the movie.
* **overview**: A brief text about the movie.
* **popularity**: A Popularity Score given by TMDb.
* **poster_path**: The URL of the poster image.
* **production_companies**: A stringified list of production companies involved with making of the movie.
* **production_countries**: A stringified list of countries in which the movie was produced.
* **release_date**: Release date of the movie in theaters.
* **revenue**: The total revenue of the movie in dollars.
* **runtime**: The runtime of the movie in minutes.
* **spoken_languages**: A stringified list of languages spoken in the film.
* **status**: The status of the movie (Released, To Be Released, etc.)
* **tagline**: The movie's tagline.
* **title**: The official title of the movie.
* **video**: Indicates whether there is a video of the movie in TMDb.
* **vote_average**: The average rating of the movie, on a 0-10 scale.
* **vote_count**: The number of votes by users, as counted by TMDb.

# Imports

First, let's make sure to import Pandas and NumPy.

In [1]:
import pandas as pd 
import numpy as np
import ast
import cProfile

# Exercise 1: Loading, preprocessing and cleaning the data (15 points)

Read the movie dataset from the following URL.

In [2]:
url = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/movies_metadata.csv'

## Part 1: Reading and preprocessing the data (10 pts)

Pandas infers a data type for raw data from a `.csv`, defaulting to string type when no other `dtype` could be established. For example, the `genres` column in our dataset is read as a string with a *stringified* list of dictionaries as cell content. 

Some preprocessing steps are therefore needed, to convert the columns into their proper data types.

Write a function `load_movies_data()` that reads the URL into a Pandas DataFrame and preprocesses its columns to ensure that:

1. Data in the `release_date` column consists of Pandas `Timestamp` objects, except for missing values. For example, executing a code cell with `df.release_date[0]` should display the output `Timestamp('1995-10-30 00:00:00')`.

2. Data in `belongs_to_collection` consists of dictionaries, except for missing values.

3. Data in `genres`, `production_companies` and `production_countries` consists of lists of dictionaries, except for missing values. 

For example, executing a code cell with `df.genres[0]` should display the output 
```
[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]
```
which is a list type, not a string. The elements of the list are dictionaries (executing `df.genres[0][0]['name']` returns `'Animation'`). 

**Hint**: for items 2 and 3, you should use `ast.literal_eval`.

These conversions can be performed using Pandas' built-in functions and/or calling Pandas' `apply()` with appropriate arguments. Avoid explicit looping. You'll be asked below to time the loading and preprocessing step.

In [3]:
# Define the function load_movies_data()
def load_movies_data(csv_file):
  df=pd.read_csv(csv_file)  
  df.release_date=pd.to_datetime(df.release_date,errors='coerce')
  df.belongs_to_collection=df.belongs_to_collection.fillna('{}').apply(lambda x: ast.literal_eval(str(x)))
  df.genres=df.genres.fillna('[]').apply(lambda x: ast.literal_eval(str(x)))
  df.production_companies=df.production_companies.fillna('[]').apply(lambda x: ast.literal_eval(str(x)))
  df.production_countries=df.production_countries.fillna('[]').apply(lambda x: ast.literal_eval(str(x)))
  return df

Now call `load_movies_data()` and load the data into a DataFrame `df`.

In [4]:
df=load_movies_data(url)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Display the DataFrame. You should check that it looks correct.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  45466 non-null  object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45466 non-null  object
 13  production_countries   45466 non-null  object
 14  release_date           45376 non-null  datetime64[ns]
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(19)
memory usage: 8.3+ MB

## Part 2: Timing your function (2.5 pts)

Time the performance of your function. To get the points for this part, the time reported below must not exceed 40 seconds.

In [6]:
# load_time = %timeit -o -r 3 load_movies_data(url)
# print("Time (s):", load_time.best)

## Part 3: Cleaning the data (2.5 pts)

Filter/drop all rows in `df` meeting any of these conditions:
* The `adult` value is not `'False'`
* The `vote_count` value is missing
* The `vote_average` value is missing

Do not loop over rows to perform these checks. Use Pandas' built-in functionality to do so.

In [7]:
df=df[df['adult']=='False']
df=df.dropna(subset=['vote_count','vote_average'],axis=0)

# Exercise 2: Computing IMDb's ratings (35 points)

The Top Rated 250 titles in IMDb are calculated using [a formula](https://help.imdb.com/article/imdb/track-movies-tv/ratings-faq/G67Y87TFYYP6TWAV#calculatetop) that takes into account the number of votes that a title has received, the minimum votes required to be on the list, and the mean vote for all titles. The rating for a title is given as follows:

$$ \text{weighted rating } = \left(\frac{v}{v+m} \cdot R\right) + \left(\frac{m}{v+m} \cdot C\right)$$

Where:

$m$ = the minimum number of votes required to be listed in the Top Rated ranking. We'll let $m=1000$.

$v$ = the number of votes received by the title (the title's **`vote_count`** value)

$R$ = the average rating for the title (the title's **`vote_average`** value)

$C$ = the mean vote across the whole list (the mean over the **`vote_average`** column)

We are going to compute the ratings for movies that could be listed in IMDb's Top Rated 250 ranking.  We want to do this as efficiently as possible. As a baseline for benchmarking, we'll use an approach that explicitly loops and indexes over the rows of the dataset and computes the weighted rating for the corresponding movie (if the movie has more than 1000 votes).

In [8]:
C = df['vote_average'].mean()
m = 1000

def weighted_rating(row):
    if row['vote_count'] > m:
        v = row['vote_count']
        R = row['vote_average']
        return (v/(v+m) * R) + (m/(v+m) * C)
    else:
        return np.nan

def weighted_rating_loop(df):
    rating_list = []
    for i in range(len(df)):
        rating = weighted_rating(df.iloc[i])
        rating_list.append(rating)
    df['imdb_rating'] = rating_list

In [9]:
weighted_rating_loop(df)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

      id               original_title  imdb_rating
0    862                    Toy Story     7.375533
1   8844                      Jumanji     6.524536
2  15602             Grumpier Old Men          NaN
3  31357            Waiting to Exhale          NaN
4  11862  Father of the Bride Part II          NaN

Let's look at the average performance of this function:

In [10]:
basic_time = %timeit -r 3 -o weighted_rating_loop(df)
print("Best time:", basic_time.best)

1 loop, best of 3: 9.06 s per loop
Best time: 9.05902130200002

In the remaining parts of the exercise, you are going to be asked to come up with alternative ways to compute the ratings, using various methodologies. Let's create a score board to keep track of performance. Here's a description of the rows:

*   **Best single run time (s)**:  The best time used by your solution, in seconds.
*   **Marginal performance improvement**: The time improvement of your current solution over its immediately preceding solution. Given by: $\frac{\text{best single run time (s) of previous solution}}{\text{best single run time (s) of current solution}}$
*   **Performance improvement over basic looping**:  The time improvement over our baseline solution. Given by: $\frac{\text{best single run time (s) of weighted_rating_loop}}{\text{best single run time (s) of current solution}}$
*   **Best single run time (s, teacher)**: The time of a solution provided by the teacher. 
*   **Marginal performance improvement (teacher)**: The time improvement of the teacher's solution over its immediately preceding solution. 
*   **Performance improvement over basic looping (teacher)**:  The teacher's solution improvement over the baseline solution.

In [ ]:
timing_data = {
    'Best single run time (s)': [basic_time.best, np.nan, np.nan, np.nan,np.nan],
    'Marginal performance improvement': [np.nan,np.nan, np.nan, np.nan,np.nan],
    'Performance improvement over basic looping': np.nan,
    'Best single run time (s, teacher)': [9.37, 3.87, 0.562, 0.0054, 0.00084],
    'Marginal performance improvement (teacher)': [np.nan, 'x2.42', 'x6.88', 'x103.8', 'x6.45'],
    'Performance improvement over basic looping (teacher)': [np.nan, 'x2.42', 'x16.69', 'x1732.17','x11172.98']
}

indices = ['Basic looping', 'Iterrows looping', 'apply()', 'Pandas vectorisation', 'NumPy vectorisation']
timings = pd.DataFrame(timing_data, index=indices)
timings

**The grading for the following parts works as follows.**

Let $m$ be the marginal performance improvement for the teacher's solution over basic looping, and let $m'$ be the marginal performance improvement for your solution over `basic_time`. If a part gives $n$ points, then you will get the $n$ points if $m' \geq 0.4 m$, and 0 points otherwise.

You don't get extra points for performing faster than the teacher's solution. But this is of course possible and you should feel free to optimise away as much as you want!

## Part 1: Looping with `iterrows` (2.5 pts)

Define a function `weighted_rating_iterrows(df)` that computes the ratings by looping over rows with the built-in iterator `iterrows`, and stores the results in a new column of the DataFrame called called `imdb_rating_iter`.

In [12]:
# your code goes here
def weighted_rating_iterrows(df):
  ratings = []
  for index, row in df.iterrows():
    if row['vote_count']>1000:
      v = row['vote_count']
      R = row['vote_average']
      rating = (v/(v+m) * R) + (m/(v+m) * C)
    else:
      rating = np.nan
    ratings.append(rating)
  df['imdb_rating_iter'] =  ratings

Call the function and make sure that it works as intended.

In [13]:
weighted_rating_iterrows(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_iter, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

      id               original_title  imdb_rating  imdb_rating_iter
0    862                    Toy Story     7.375533          7.375533
1   8844                      Jumanji     6.524536          6.524536
2  15602             Grumpier Old Men          NaN               NaN
3  31357            Waiting to Exhale          NaN               NaN
4  11862  Father of the Bride Part II          NaN               NaN

Time the performance of the function.

In [14]:
iterrows_time = %timeit -r 3 -o weighted_rating_iterrows(df)
print("Best time:", iterrows_time.best)

1 loop, best of 3: 3.75 s per loop
Best time: 3.751410233999991

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [15]:
# your code goes here
timings.iloc[1,0]=iterrows_time.best
#marginal
timings.iloc[1,1] = timings.iloc[0,0]/timings.iloc[1,0]
#overall
timings.iloc[1,2] = timings.iloc[0,0]/timings.iloc[1,0]

timings

                      Best single run time (s)  ...  Performance improvement over basic looping (teacher)
Basic looping                         9.059021  ...                                                NaN
Iterrows looping                      3.751410  ...                                              x2.42
apply()                                    NaN  ...                                             x16.69
Pandas vectorisation                       NaN  ...                                           x1732.17
NumPy vectorisation                        NaN  ...                                          x11172.98

[5 rows x 6 columns]

## Part 2: Using `apply()`. (5 pts)

Define a function `weighted_rating_apply(df)` that computes the ratings using Pandas' `apply()` function, and stores the results in a new column of the DataFrame called `imdb_rating_apply`.

In [16]:
# your code goes here

# C = df['vote_average'].mean()
# m = 1000

def weighted_rating_apply(df):
  df['imdb_rating_apply'] = df.apply(lambda row: (row['vote_count']/(row['vote_count'] + m) * row['vote_average']) + (m/(row['vote_count'] + m) * C)
                                   if row['vote_count']>1000 else np.nan,
                                   axis=1)

Call the function and make sure that it works as intended.

In [17]:
weighted_rating_apply(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_apply, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

      id               original_title  ...  imdb_rating_iter  imdb_rating_apply
0    862                    Toy Story  ...          7.375533           7.375533
1   8844                      Jumanji  ...          6.524536           6.524536
2  15602             Grumpier Old Men  ...               NaN                NaN
3  31357            Waiting to Exhale  ...               NaN                NaN
4  11862  Father of the Bride Part II  ...               NaN                NaN

[5 rows x 5 columns]

Time the performance of the function.

In [18]:
apply_time = %timeit -r 3 -o weighted_rating_apply(df)
print("Best time:", apply_time.best)

1 loop, best of 3: 566 ms per loop
Best time: 0.5661760159999858

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [19]:
# your code goes here
timings.iloc[2,0]=apply_time.best
#marginal
timings.iloc[2,1] = timings.iloc[1,0]/timings.iloc[2,0]
#overall
timings.iloc[2,2] = timings.iloc[0,0]/timings.iloc[2,0]
timings

                      Best single run time (s)  ...  Performance improvement over basic looping (teacher)
Basic looping                         9.059021  ...                                                NaN
Iterrows looping                      3.751410  ...                                              x2.42
apply()                               0.566176  ...                                             x16.69
Pandas vectorisation                       NaN  ...                                           x1732.17
NumPy vectorisation                        NaN  ...                                          x11172.98

[5 rows x 6 columns]

## Part 3: Vectorised solution with Pandas (12.5 pts)

Let's find a vectorised solution using Pandas. You have to define a function `weighted_rating_pandas(df)` that computes the ratings in a vectorised way and stores them in a new column of the DataFrame called `imdb_rating_pandas`. Use Pandas operations only: don't transform your data into NumPy arrays.

In [20]:
# your code goes here
def weighted_rating_pandas(df):
  # C = df['vote_average'].mean()
  # m = 1000
  v = df['vote_count']
  R = df['vote_average']
  df['imdb_rating_pandas'] =0 
  df.loc[ df['vote_count']>1000,'imdb_rating_pandas'] = (v/(v+m) * R) + (m/(v+m) * C)
  df.loc[ df['vote_count']<=1000,'imdb_rating_pandas']= np.nan

Call the function and make sure it works as intended.

In [21]:
weighted_rating_pandas(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_pandas, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

      id               original_title  ...  imdb_rating_apply  imdb_rating_pandas
0    862                    Toy Story  ...           7.375533            7.375533
1   8844                      Jumanji  ...           6.524536            6.524536
2  15602             Grumpier Old Men  ...                NaN                 NaN
3  31357            Waiting to Exhale  ...                NaN                 NaN
4  11862  Father of the Bride Part II  ...                NaN                 NaN

[5 rows x 6 columns]

Time the performance of the function.

In [22]:
pandas_time = %timeit -r 3 -o weighted_rating_pandas(df)
print("Best time:", pandas_time.best)

100 loops, best of 3: 9.84 ms per loop
Best time: 0.009837506979999943

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [23]:
# your code goes here
timings.iloc[3,0]= pandas_time.best
#marginal
timings.iloc[3,1] = timings.iloc[2,0]/timings.iloc[3,0]
#overall
timings.iloc[3,2] = timings.iloc[0,0]/timings.iloc[3,0]
timings

                      Best single run time (s)  ...  Performance improvement over basic looping (teacher)
Basic looping                         9.059021  ...                                                NaN
Iterrows looping                      3.751410  ...                                              x2.42
apply()                               0.566176  ...                                             x16.69
Pandas vectorisation                  0.009838  ...                                           x1732.17
NumPy vectorisation                        NaN  ...                                          x11172.98

[5 rows x 6 columns]

Time to reflect on your solution. Do the following: 
 
* Explain in words what your function does and why it is a vectorised solution. In particular, break down each step involving ufuncs, broadcasting and other vectorized calls. 
    * If your explanation has major errors, we will substract points for this part.
 
* Display profiler output and give an analysis of what you see.

In [27]:
cProfile.run('weighted_rating_pandas(df)')

         6233 function calls (6158 primitive calls) in 0.018 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.000    0.000 <__array_function__ internals>:2(argsort)
        4    0.000    0.000    0.000    0.000 <__array_function__ internals>:2(atleast_2d)
        4    0.000    0.000    0.001    0.000 <__array_function__ internals>:2(concatenate)
        2    0.000    0.000    0.000    0.000 <__array_function__ internals>:2(copyto)
        2    0.000    0.000    0.001    0.001 <__array_function__ internals>:2(delete)
        2    0.000    0.000    0.000    0.000 <__array_function__ internals>:2(min_scalar_type)
        4    0.000    0.000    0.000    0.000 <__array_function__ internals>:2(ndim)
        9    0.000    0.000    0.000    0.000 <__array_function__ internals>:2(prod)
        1    0.000    0.000    0.001    0.001 <__array_function__ internals>:2(vstack)
       30    0.000    0.000    0.000    0.000 <frozen importlib._bootstrap>:1009(_handle_fromlist)
        1    0.000    0.000    0.018    0.018 <ipython-input-20-78a051a8af49>:2(weighted_rating_pandas)
        1    0.000    0.000    0.018    0.018 <string>:1(<module>)
        3    0.000    0.000    0.000    0.000 __init__.py:111(_maybe_match_name)
        7    0.000    0.000    0.000    0.000 __init__.py:307(_align_method_SERIES)
        7    0.000    0.000    0.008    0.001 __init__.py:335(wrapper)
        2    0.000    0.000    0.001    0.001 __init__.py:359(wrapper)
        9    0.000    0.000    0.000    0.000 __init__.py:88(get_op_result_name)
    55/50    0.000    0.000    0.000    0.000 _asarray.py:14(asarray)
        4    0.000    0.000    0.000    0.000 _asarray.py:221(require)
        4    0.000    0.000    0.000    0.000 _asarray.py:298(<setcomp>)
        6    0.000    0.000    0.000    0.000 _asarray.py:86(asanyarray)
        2    0.000    0.000    0.000    0.000 _dtype.py:178(_datetime_metadata_str)
       32    0.000    0.000    0.000    0.000 _dtype.py:24(_kind_name)
       32    0.000    0.000    0.000    0.000 _dtype.py:307(_name_includes_bit_suffix)
       32    0.000    0.000    0.000    0.000 _dtype.py:321(_name_get)
        1    0.000    0.000    0.000    0.000 _methods.py:53(_any)
       18    0.000    0.000    0.000    0.000 _ufunc_config.py:132(geterr)
       18    0.000    0.000    0.000    0.000 _ufunc_config.py:32(seterr)
        9    0.000    0.000    0.000    0.000 _ufunc_config.py:429(__init__)
        9    0.000    0.000    0.000    0.000 _ufunc_config.py:433(__enter__)
        9    0.000    0.000    0.000    0.000 _ufunc_config.py:438(__exit__)
       38    0.000    0.000    0.000    0.000 abc.py:137(__instancecheck__)
        1    0.000    0.000    0.000    0.000 algorithms.py:1511(_get_take_nd_function)
        1    0.000    0.000    0.000    0.000 algorithms.py:1640(take_nd)
        9    0.000    0.000    0.006    0.001 array_ops.py:119(na_arithmetic_op)
        7    0.000    0.000    0.006    0.001 array_ops.py:160(arithmetic_op)
        2    0.000    0.000    0.001    0.000 array_ops.py:195(comparison_op)
       16    0.000    0.000    0.000    0.000 array_ops.py:404(maybe_upcast_datetimelike_array)
        7    0.000    0.000    0.000    0.000 array_ops.py:429(maybe_upcast_for_op)
        8    0.000    0.000    0.000    0.000 base.py:1175(name)
        4    0.000    0.000    0.000    0.000 base.py:1378(nlevels)
        1    0.000    0.000    0.000    0.000 base.py:1685(is_boolean)
        4    0.000    0.000    0.000    0.000 base.py:1720(is_integer)
        7    0.000    0.000    0.000    0.000 base.py:1755(is_floating)
       67    0.000    0.000    0.000    0.000 base.py:256(is_dtype)
        7    0.000    0.000    0.000    0.000 base.py:2854(get_loc)
        1    0.000    0.000    0.000    0.000 base.py:293(__new__)
        1    0.000    0.000    0.000    0.000 base.py:2960(get_indexer)
        1    0.000    0.000    0.000    0.000 base.py:3278(_can_reindex)
        1    0.000    0.000    0.000    0.000 base.py:3294(reindex)
        9    0.000    0.000    0.000    0.000 base.py:3873(_values)
        1    0.000    0.000    0.000    0.000 base.py:3899(_get_engine_target)
        6    0.000    0.000    0.000    0.000 base.py:4039(__contains__)
       11    0.000    0.000    0.000    0.000 base.py:4086(__getitem__)
       64    0.000    0.000    0.000    0.000 base.py:413(find)
       10    0.000    0.000    0.000    0.000 base.py:4199(equals)
        1    0.000    0.000    0.000    0.000 base.py:4278(identical)
        6    0.000    0.000    0.000    0.000 base.py:463(_simple_new)
        1    0.000    0.000    0.000    0.000 base.py:4720(_maybe_promote)
        7    0.000    0.000    0.000    0.000 base.py:4979(_maybe_cast_indexer)
        5    0.000    0.000    0.000    0.000 base.py:498(_shallow_copy)
       10    0.000    0.000    0.000    0.000 base.py:520(is_)
        6    0.000    0.000    0.000    0.000 base.py:544(_reset_identity)
       12    0.000    0.000    0.000    0.000 base.py:5562(ensure_index)
        1    0.000    0.000    0.000    0.000 base.py:5626(ensure_has_len)
       11    0.000    0.000    0.000    0.000 base.py:5659(maybe_extract_name)
       54    0.000    0.000    0.000    0.000 base.py:567(__len__)
        1    0.000    0.000    0.000    0.000 base.py:573(__array__)
        2    0.000    0.000    0.000    0.000 base.py:590(dtype)
        2    0.000    0.000    0.000    0.000 base.py:613(view)
        1    0.000    0.000    0.000    0.000 base.py:637(ndim)
        1    0.000    0.000    0.000    0.000 blocks.py:1238(take_nd)
       24    0.000    0.000    0.000    0.000 blocks.py:124(__init__)
       24    0.000    0.000    0.000    0.000 blocks.py:135(_check_ndim)
        8    0.000    0.000    0.000    0.000 blocks.py:176(_consolidate_key)
        2    0.000    0.000    0.000    0.000 blocks.py:1925(_can_hold_element)
        1    0.000    0.000    0.000    0.000 blocks.py:1992(_can_hold_element)
        3    0.000    0.000    0.000    0.000 blocks.py:201(internal_values)
       14    0.000    0.000    0.000    0.000 blocks.py:207(array_values)
        1    0.000    0.000    0.000    0.000 blocks.py:213(get_values)
       40    0.000    0.000    0.000    0.000 blocks.py:233(mgr_locs)
       25    0.000    0.000    0.000    0.000 blocks.py:237(mgr_locs)
        2    0.000    0.000    0.000    0.000 blocks.py:244(make_block)
        9    0.000    0.000    0.000    0.000 blocks.py:256(make_block_same_class)
       15    0.000    0.000    0.001    0.000 blocks.py:2677(get_block_type)
       15    0.000    0.000    0.001    0.000 blocks.py:2723(make_block)
        7    0.000    0.000    0.000    0.000 blocks.py:2750(_extend_blocks)
        1    0.000    0.000    0.000    0.000 blocks.py:276(__len__)
        3    0.000    0.000    0.000    0.000 blocks.py:311(shape)
       37    0.000    0.000    0.000    0.000 blocks.py:315(dtype)
        6    0.000    0.000    0.000    0.000 blocks.py:319(iget)
        1    0.000    0.000    0.000    0.000 blocks.py:322(set)
        1    0.000    0.000    0.001    0.001 blocks.py:333(delete)
        1    0.000    0.000    0.000    0.000 blocks.py:514(astype)
        3    0.000    0.000    0.000    0.000 blocks.py:642(should_store)
        2    0.000    0.000    0.000    0.000 blocks.py:675(copy)
      3/2    0.000    0.000    0.001    0.000 blocks.py:782(setitem)
        9    0.000    0.000    0.000    0.000 cast.py:1187(maybe_castable)
        1    0.000    0.000    0.000    0.000 cast.py:1310(maybe_cast_to_datetime)
        1    0.000    0.000    0.000    0.000 cast.py:1448(find_common_type)
        2    0.000    0.000    0.000    0.000 cast.py:1472(<genexpr>)
        3    0.000    0.000    0.000    0.000 cast.py:1478(<genexpr>)
        2    0.000    0.000    0.000    0.000 cast.py:1487(<genexpr>)
        2    0.000    0.000    0.000    0.000 cast.py:1489(<genexpr>)
        3    0.000    0.000    0.000    0.000 cast.py:1494(<genexpr>)
        1    0.000    0.000    0.000    0.000 cast.py:1503(cast_scalar_to_array)
        1    0.000    0.000    0.000    0.000 cast.py:1700(convert_scalar_for_putitemlike)
        1    0.000    0.000    0.000    0.000 cast.py:1731(validate_numeric_casting)
        2    0.000    0.000    0.000    0.000 cast.py:442(maybe_promote)
        2    0.000    0.000    0.000    0.000 cast.py:598(_ensure_dtype_type)
        2    0.000    0.000    0.000    0.000 cast.py:643(infer_dtype_from_scalar)
        3    0.000    0.000    0.000    0.000 cast.py:780(maybe_infer_dtype_type)
        1    0.000    0.000    0.000    0.000 cast.py:898(astype_nansafe)
        2    0.000    0.000    0.000    0.000 common.py:1064(is_numeric_v_string_like)
        2    0.000    0.000    0.000    0.000 common.py:1223(is_numeric_dtype)
        2    0.000    0.000    0.000    0.000 common.py:1265(is_string_like_dtype)
        2    0.000    0.000    0.000    0.000 common.py:1293(<lambda>)
        7    0.000    0.000    0.000    0.000 common.py:1330(is_bool_dtype)
       64    0.000    0.000    0.000    0.000 common.py:1460(is_extension_array_dtype)
       15    0.000    0.000    0.000    0.000 common.py:149(cast_scalar_indexer)
        2    0.000    0.000    0.000    0.000 common.py:1541(_is_dtype)
       27    0.000    0.000    0.000    0.000 common.py:1565(_get_dtype)
       26    0.000    0.000    0.000    0.000 common.py:1600(_is_dtype_type)
       11    0.000    0.000    0.000    0.000 common.py:1733(pandas_dtype)
       23    0.000    0.000    0.000    0.000 common.py:178(classes)
       23    0.000    0.000    0.000    0.000 common.py:180(<lambda>)
        3    0.000    0.000    0.000    0.000 common.py:183(classes_and_not_datetimelike)
        3    0.000    0.000    0.000    0.000 common.py:188(<lambda>)
       20    0.000    0.000    0.000    0.000 common.py:194(is_object_dtype)
       15    0.000    0.000    0.000    0.000 common.py:224(is_sparse)
        4    0.000    0.000    0.000    0.000 common.py:283(is_null_slice)
        2    0.000    0.000    0.000    0.000 common.py:303(is_full_slice)
        9    0.000    0.000    0.000    0.000 common.py:329(apply_if_callable)
        4    0.000    0.000    0.000    0.000 common.py:348(is_datetime64_dtype)
       18    0.000    0.000    0.000    0.000 common.py:381(is_datetime64tz_dtype)
        5    0.000    0.000    0.000    0.000 common.py:422(is_timedelta64_dtype)
       17    0.000    0.000    0.000    0.000 common.py:456(is_period_dtype)
       17    0.000    0.000    0.000    0.000 common.py:492(is_interval_dtype)
        9    0.000    0.000    0.010    0.001 common.py:50(new_method)
       18    0.000    0.000    0.000    0.000 common.py:530(is_categorical_dtype)
        9    0.000    0.000    0.000    0.000 common.py:608(is_dtype_equal)
        1    0.000    0.000    0.000    0.000 common.py:750(is_signed_integer_dtype)
        2    0.000    0.000    0.000    0.000 common.py:905(is_datetime64_any_dtype)
        5    0.000    0.000    0.000    0.000 common.py:97(is_bool_indexer)
       31    0.000    0.000    0.000    0.000 construction.py:339(extract_array)
        9    0.000    0.000    0.001    0.000 construction.py:390(sanitize_array)
        9    0.000    0.000    0.000    0.000 construction.py:520(_try_cast)
        9    0.000    0.000    0.000    0.000 construction.py:580(is_empty_data)
        9    0.000    0.000    0.000    0.000 dispatch.py:11(should_extension_dispatch)
       16    0.000    0.000    0.000    0.000 dtypes.py:1119(is_dtype)
       16    0.000    0.000    0.000    0.000 dtypes.py:906(is_dtype)
        9    0.000    0.000    0.000    0.000 expressions.py:186(_has_bool_dtype)
        9    0.000    0.000    0.000    0.000 expressions.py:195(_bool_arith_check)
        9    0.000    0.000    0.006    0.001 expressions.py:217(evaluate)
        9    0.000    0.000    0.001    0.000 expressions.py:71(_can_use_numexpr)
        9    0.000    0.000    0.006    0.001 expressions.py:97(_evaluate_numexpr)
        5    0.000    0.000    0.000    0.000 frame.py:1099(__len__)
        2    0.000    0.000    0.000    0.000 frame.py:2816(_ixs)
        4    0.000    0.000    0.000    0.000 frame.py:2869(__getitem__)
        1    0.000    0.000    0.002    0.002 frame.py:3028(__setitem__)
        2    0.000    0.000    0.001    0.000 frame.py:3095(_iset_item)
        1    0.000    0.000    0.002    0.002 frame.py:3109(_set_item)
        3    0.000    0.000    0.000    0.000 frame.py:3162(_ensure_valid_index)
        6    0.000    0.000    0.000    0.000 frame.py:3184(_box_col_values)
        3    0.000    0.000    0.001    0.000 frame.py:3702(_sanitize_column)
        2    0.000    0.000    0.000    0.000 frame.py:3722(reindexer)
        5    0.000    0.000    0.000    0.000 frame.py:568(axes)
        9    0.000    0.000    0.000    0.000 fromnumeric.py:2876(_prod_dispatcher)
        9    0.000    0.000    0.000    0.000 fromnumeric.py:2881(prod)
        4    0.000    0.000    0.000    0.000 fromnumeric.py:3071(_ndim_dispatcher)
        4    0.000    0.000    0.000    0.000 fromnumeric.py:3075(ndim)
        1    0.000    0.000    0.000    0.000 fromnumeric.py:52(_wrapfunc)
        9    0.000    0.000    0.000    0.000 fromnumeric.py:70(_wrapreduction)
        9    0.000    0.000    0.000    0.000 fromnumeric.py:71(<dictcomp>)
        1    0.000    0.000    0.000    0.000 fromnumeric.py:995(_argsort_dispatcher)
        1    0.000    0.000    0.000    0.000 fromnumeric.py:999(argsort)
        2    0.000    0.000    0.000    0.000 function_base.py:4232(_delete_dispatcher)
        2    0.001    0.001    0.001    0.001 function_base.py:4236(delete)
      438    0.000    0.000    0.000    0.000 generic.py:10(_check)
       18    0.000    0.000    0.000    0.000 generic.py:195(__init__)
       13    0.000    0.000    0.000    0.000 generic.py:232(attrs)
        6    0.000    0.000    0.000    0.000 generic.py:3180(_set_as_cached)
        2    0.000    0.000    0.000    0.000 generic.py:3213(_maybe_update_cacher)
        8    0.000    0.000    0.000    0.000 generic.py:3250(_clear_item_cache)
        1    0.000    0.000    0.000    0.000 generic.py:334(_construct_axes_from_arguments)
        4    0.000    0.000    0.000    0.000 generic.py:3534(_get_item_cache)
        3    0.000    0.000    0.002    0.001 generic.py:3570(_iset_item)
        1    0.000    0.000    0.002    0.002 generic.py:3574(_set_item)
        5    0.000    0.000    0.000    0.000 generic.py:3611(_check_setitem_copy)
        1    0.000    0.000    0.000    0.000 generic.py:362(<dictcomp>)
       12    0.000    0.000    0.000    0.000 generic.py:365(_get_axis_number)
       10    0.000    0.000    0.000    0.000 generic.py:377(_get_axis)
        1    0.000    0.000    0.000    0.000 generic.py:382(_get_block_manager_axis)
        1    0.000    0.000    0.000    0.000 generic.py:4216(reindex)
        2    0.000    0.000    0.000    0.000 generic.py:4450(<genexpr>)
        1    0.000    0.000    0.000    0.000 generic.py:4467(_reindex_axes)
        1    0.000    0.000    0.000    0.000 generic.py:447(_info_axis)
        1    0.000    0.000    0.000    0.000 generic.py:4504(_reindex_with_indexers)
        4    0.000    0.000    0.000    0.000 generic.py:471(ndim)
       13    0.000    0.000    0.000    0.000 generic.py:5097(__finalize__)
       24    0.000    0.000    0.000    0.000 generic.py:5125(__getattr__)
       40    0.000    0.000    0.000    0.000 generic.py:5143(__setattr__)
        3    0.000    0.000    0.002    0.001 generic.py:5199(_protect_consolidate)
        1    0.000    0.000    0.000    0.000 generic.py:5210(_consolidate_inplace)
        1    0.000    0.000    0.000    0.000 generic.py:5213(f)
        2    0.000    0.000    0.002    0.001 generic.py:5240(_is_mixed_type)
        2    0.000    0.000    0.002    0.001 generic.py:5242(<lambda>)
        2    0.000    0.000    0.000    0.000 generic.py:5560(copy)
        2    0.000    0.000    0.000    0.000 indexers.py:109(<genexpr>)
        2    0.000    0.000    0.000    0.000 indexers.py:117(check_setitem_lengths)
        2    0.000    0.000    0.000    0.000 indexers.py:258(length_of_indexer)
        2    0.000    0.000    0.000    0.000 indexers.py:348(check_array_indexer)
        9    0.000    0.000    0.000    0.000 indexers.py:52(is_list_like_indexer)
        2    0.000    0.000    0.000    0.000 indexers.py:68(is_scalar_indexer)
        4    0.000    0.000    0.000    0.000 indexers.py:85(<genexpr>)
        2    0.000    0.000    0.000    0.000 indexers.py:91(is_empty_indexer)
        2    0.000    0.000    0.000    0.000 indexing.py:100(iloc)
        4    0.000    0.000    0.000    0.000 indexing.py:1133(_convert_to_indexer)
        2    0.000    0.000    0.005    0.003 indexing.py:1523(_setitem_with_indexer)
        2    0.000    0.000    0.002    0.001 indexing.py:1672(isetter)
        4    0.000    0.000    0.000    0.000 indexing.py:1682(<genexpr>)
        1    0.000    0.000    0.001    0.001 indexing.py:1863(_align_series)
        2    0.000    0.000    0.000    0.000 indexing.py:1886(ravel)
        1    0.000    0.000    0.000    0.000 indexing.py:1891(<listcomp>)
        3    0.000    0.000    0.000    0.000 indexing.py:1908(<genexpr>)
        1    0.000    0.000    0.000    0.000 indexing.py:2126(convert_to_index_sliceable)
        2    0.000    0.000    0.000    0.000 indexing.py:2151(check_bool_indexer)
        2    0.000    0.000    0.000    0.000 indexing.py:2241(is_nested_tuple)
        2    0.000    0.000    0.000    0.000 indexing.py:237(loc)
        2    0.000    0.000    0.001    0.000 indexing.py:588(_get_setitem_indexer)
        2    0.000    0.000    0.000    0.000 indexing.py:627(_ensure_listlike_indexer)
        2    0.000    0.000    0.006    0.003 indexing.py:661(__setitem__)
        6    0.000    0.000    0.000    0.000 indexing.py:663(<genexpr>)
        2    0.000    0.000    0.000    0.000 indexing.py:719(_convert_tuple)
        2    0.000    0.000    0.000    0.000 indexing.py:922(_has_valid_setitem_indexer)
        6    0.000    0.000    0.000    0.000 inference.py:185(is_array_like)
       55    0.000    0.000    0.000    0.000 inference.py:322(is_hashable)
        4    0.000    0.000    0.000    0.000 inference.py:360(is_sequence)
        1    0.000    0.000    0.000    0.000 inspect.py:72(isclass)
        3    0.000    0.000    0.002    0.001 managers.py:1052(iset)
        3    0.000    0.000    0.000    0.000 managers.py:1080(value_getitem)
        4    0.000    0.000    0.000    0.000 managers.py:1127(<genexpr>)
        1    0.000    0.000    0.000    0.000 managers.py:1247(reindex_indexer)
        1    0.000    0.000    0.000    0.000 managers.py:1309(_slice_take_blocks_ax0)
       20    0.000    0.000    0.000    0.000 managers.py:1541(__init__)
        5    0.000    0.000    0.000    0.000 managers.py:1562(from_blocks)
        9    0.000    0.000    0.001    0.000 managers.py:1573(from_array)
       31    0.000    0.000    0.000    0.000 managers.py:1584(_block)
       14    0.000    0.000    0.000    0.000 managers.py:1611(dtype)
        3    0.000    0.000    0.000    0.000 managers.py:1622(internal_values)
        9    0.000    0.000    0.000    0.000 managers.py:163(blknos)
        1    0.000    0.000    0.000    0.000 managers.py:1630(is_consolidated)
        1    0.000    0.000    0.000    0.000 managers.py:1636(_consolidate_inplace)
        9    0.000    0.000    0.000    0.000 managers.py:179(blklocs)
        1    0.000    0.000    0.002    0.002 managers.py:1898(_consolidate)
        8    0.000    0.000    0.000    0.000 managers.py:1903(<lambda>)
        3    0.001    0.000    0.002    0.001 managers.py:1915(_merge_blocks)
        1    0.000    0.000    0.000    0.000 managers.py:1930(<listcomp>)
        1    0.000    0.000    0.000    0.000 managers.py:1931(<listcomp>)

*Your explanation goes here*

## Part 4: Vectorised solution with NumPy (12.5 pts)

Let's find a vectorised solution that uses NumPy to speed up the calculations. You have to define a function `weighted_rating_numpy(df)` that computes the ratings in a vectorised way and stores them in a new column of the DataFrame called `imdb_rating_numpy`.

In [28]:
# your code goes here
def weighted_rating_numpy(df):
  C = df['vote_average'].mean()
  m = 1000
  v = df['vote_count'].values
  R = df['vote_average'].values
  df['imdb_rating_numpy'] = np.where(v > 1000 , (v/(v+m) * R) + (m/(v+m) * C), np.where(v <=1000, np.nan, 0))

Call the function and make sure it works as intended.

In [29]:
weighted_rating_numpy(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_numpy, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

      id               original_title  ...  imdb_rating_pandas  imdb_rating_numpy
0    862                    Toy Story  ...            7.375533           7.375533
1   8844                      Jumanji  ...            6.524536           6.524536
2  15602             Grumpier Old Men  ...                 NaN                NaN
3  31357            Waiting to Exhale  ...                 NaN                NaN
4  11862  Father of the Bride Part II  ...                 NaN                NaN

[5 rows x 7 columns]

Time the best performance of the function.

In [30]:
numpy_time = %timeit -r 3 -o weighted_rating_numpy(df)
print("Best time:", numpy_time.best)

1000 loops, best of 3: 1.09 ms per loop
Best time: 0.00109188744700009

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [31]:
# your code goes here
# your code goes here
timings.iloc[4,0]= numpy_time.best
#marginal
timings.iloc[4,1] = timings.iloc[3,0]/timings.iloc[4,0]
#overall
timings.iloc[4,2] = timings.iloc[0,0]/timings.iloc[4,0]
timings

                      Best single run time (s)  ...  Performance improvement over basic looping (teacher)
Basic looping                         9.059021  ...                                                NaN
Iterrows looping                      3.751410  ...                                              x2.42
apply()                               0.566176  ...                                             x16.69
Pandas vectorisation                  0.009838  ...                                           x1732.17
NumPy vectorisation                   0.001092  ...                                          x11172.98

[5 rows x 6 columns]

Time to reflect on your solution. Do the following: 
 
* Explain in words what your function does and why it is a vectorised solution. In particular, break down each step involving ufuncs, broadcasting and other vectorized calls. 
    * If your explanation has major errors, we will substract points for this part.
    * If applicable, you may refer back to the explanation you gave for `weighted_rating_pandas`.
 
* Display profiler output and give an analysis of what you see.
    * Contrast your findings with those from `weighted_rating_pandas`.

In [32]:
cProfile.run('weighted_rating_numpy(df)')

         351 function calls (345 primitive calls) in 0.003 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.000    0.000 <__array_function__ internals>:2(atleast_2d)
        2    0.000    0.000    0.000    0.000 <__array_function__ internals>:2(where)
        1    0.001    0.001    0.003    0.003 <ipython-input-28-0de221d39944>:2(weighted_rating_numpy)
        1    0.000    0.000    0.003    0.003 <string>:1(<module>)
        1    0.000    0.000    0.000    0.000 _asarray.py:14(asarray)
        1    0.000    0.000    0.000    0.000 _asarray.py:86(asanyarray)
        1    0.000    0.000    0.000    0.000 _methods.py:53(_any)
        4    0.000    0.000    0.000    0.000 _ufunc_config.py:132(geterr)
        4    0.000    0.000    0.000    0.000 _ufunc_config.py:32(seterr)
        2    0.000    0.000    0.000    0.000 _ufunc_config.py:429(__init__)
        2    0.000    0.000    0.000    0.000 _ufunc_config.py:433(__enter__)
        2    0.000    0.000    0.000    0.000 _ufunc_config.py:438(__exit__)
        3    0.000    0.000    0.000    0.000 base.py:1378(nlevels)
        3    0.000    0.000    0.000    0.000 base.py:1755(is_floating)
        2    0.000    0.000    0.000    0.000 base.py:256(is_dtype)
        3    0.000    0.000    0.000    0.000 base.py:2854(get_loc)
        5    0.000    0.000    0.000    0.000 base.py:4039(__contains__)
        2    0.000    0.000    0.000    0.000 base.py:4086(__getitem__)
        2    0.000    0.000    0.000    0.000 base.py:413(find)
        3    0.000    0.000    0.000    0.000 base.py:4979(_maybe_cast_indexer)
        5    0.000    0.000    0.000    0.000 base.py:567(__len__)
        2    0.000    0.000    0.000    0.000 blocks.py:124(__init__)
        2    0.000    0.000    0.000    0.000 blocks.py:135(_check_ndim)
        2    0.000    0.000    0.000    0.000 blocks.py:190(external_values)
        1    0.000    0.000    0.000    0.000 blocks.py:201(internal_values)
        2    0.000    0.000    0.000    0.000 blocks.py:233(mgr_locs)
        2    0.000    0.000    0.000    0.000 blocks.py:237(mgr_locs)
        2    0.000    0.000    0.000    0.000 blocks.py:256(make_block_same_class)
        1    0.000    0.000    0.000    0.000 blocks.py:315(dtype)
        2    0.000    0.000    0.000    0.000 blocks.py:319(iget)
        1    0.000    0.000    0.000    0.000 blocks.py:322(set)
        1    0.000    0.000    0.000    0.000 blocks.py:642(should_store)
        1    0.000    0.000    0.000    0.000 common.py:1025(is_datetime_or_timedelta_dtype)
        1    0.000    0.000    0.000    0.000 common.py:1180(needs_i8_conversion)
        2    0.000    0.000    0.000    0.000 common.py:1460(is_extension_array_dtype)
        5    0.000    0.000    0.000    0.000 common.py:149(cast_scalar_indexer)
        2    0.000    0.000    0.000    0.000 common.py:1565(_get_dtype)
        3    0.000    0.000    0.000    0.000 common.py:1600(_is_dtype_type)
        3    0.000    0.000    0.000    0.000 common.py:178(classes)
        3    0.000    0.000    0.000    0.000 common.py:180(<lambda>)
        2    0.000    0.000    0.000    0.000 common.py:194(is_object_dtype)
        4    0.000    0.000    0.000    0.000 common.py:329(apply_if_callable)
        1    0.000    0.000    0.000    0.000 common.py:381(is_datetime64tz_dtype)
        1    0.000    0.000    0.000    0.000 common.py:456(is_period_dtype)
        1    0.000    0.000    0.000    0.000 common.py:608(is_dtype_equal)
        1    0.000    0.000    0.000    0.000 construction.py:339(extract_array)
        1    0.000    0.000    0.000    0.000 construction.py:741(sanitize_index)
        1    0.000    0.000    0.000    0.000 dtypes.py:906(is_dtype)
        1    0.000    0.000    0.000    0.000 frame.py:1099(__len__)
        3    0.000    0.000    0.000    0.000 frame.py:2869(__getitem__)
        1    0.000    0.000    0.001    0.001 frame.py:3028(__setitem__)
        1    0.000    0.000    0.000    0.000 frame.py:3109(_set_item)
        1    0.000    0.000    0.000    0.000 frame.py:3162(_ensure_valid_index)
        2    0.000    0.000    0.000    0.000 frame.py:3184(_box_col_values)
        1    0.000    0.000    0.000    0.000 frame.py:3702(_sanitize_column)
        1    0.000    0.000    0.000    0.000 function.py:48(__call__)
        9    0.000    0.000    0.000    0.000 generic.py:10(_check)
        1    0.000    0.000    0.001    0.001 generic.py:11451(stat_func)
        2    0.000    0.000    0.000    0.000 generic.py:195(__init__)
        2    0.000    0.000    0.000    0.000 generic.py:3180(_set_as_cached)
        1    0.000    0.000    0.000    0.000 generic.py:3250(_clear_item_cache)
        3    0.000    0.000    0.000    0.000 generic.py:3534(_get_item_cache)
        1    0.000    0.000    0.000    0.000 generic.py:3570(_iset_item)
        1    0.000    0.000    0.000    0.000 generic.py:3574(_set_item)
        1    0.000    0.000    0.000    0.000 generic.py:3611(_check_setitem_copy)
        1    0.000    0.000    0.000    0.000 generic.py:365(_get_axis_number)
        1    0.000    0.000    0.000    0.000 generic.py:447(_info_axis)
        2    0.000    0.000    0.000    0.000 generic.py:5125(__getattr__)
        6    0.000    0.000    0.000    0.000 generic.py:5143(__setattr__)
        1    0.000    0.000    0.000    0.000 indexing.py:2126(convert_to_index_sliceable)
        5    0.000    0.000    0.000    0.000 inference.py:322(is_hashable)
        1    0.000    0.000    0.000    0.000 inference.py:360(is_sequence)
        1    0.000    0.000    0.000    0.000 managers.py:1052(iset)
        1    0.000    0.000    0.000    0.000 managers.py:1080(value_getitem)
        2    0.000    0.000    0.000    0.000 managers.py:1541(__init__)
        3    0.000    0.000    0.000    0.000 managers.py:1584(_block)
        2    0.000    0.000    0.000    0.000 managers.py:1618(external_values)
        1    0.000    0.000    0.000    0.000 managers.py:1622(internal_values)
        3    0.000    0.000    0.000    0.000 managers.py:163(blknos)
        3    0.000    0.000    0.000    0.000 managers.py:179(blklocs)
        1    0.000    0.000    0.000    0.000 managers.py:212(shape)
        3    0.000    0.000    0.000    0.000 managers.py:214(<genexpr>)
        1    0.000    0.000    0.000    0.000 managers.py:216(ndim)
        2    0.000    0.000    0.000    0.000 managers.py:993(iget)
        2    0.000    0.000    0.000    0.000 multiarray.py:311(where)
        1    0.000    0.000    0.000    0.000 nanops.py:136(_bn_ok_dtype)
        1    0.000    0.000    0.000    0.000 nanops.py:155(_has_infs)
        2    0.000    0.000    0.000    0.000 nanops.py:57(check)
        1    0.000    0.000    0.001    0.001 nanops.py:61(_f)
        3    0.000    0.000    0.000    0.000 nanops.py:64(<genexpr>)
        1    0.000    0.000    0.001    0.001 nanops.py:97(f)
        2    0.000    0.000    0.000    0.000 numeric.py:150(is_all_dates)
        2    0.000    0.000    0.000    0.000 series.py:201(__init__)
        2    0.000    0.000    0.000    0.000 series.py:398(_set_axis)
        1    0.000    0.000    0.001    0.001 series.py:4224(_reduce)
        2    0.000    0.000    0.000    0.000 series.py:442(name)
        2    0.000    0.000    0.000    0.000 series.py:492(name)
        2    0.000    0.000    0.000    0.000 series.py:498(values)
        1    0.000    0.000    0.000    0.000 series.py:540(_values)
        1    0.000    0.000    0.000    0.000 shape_base.py:78(_atleast_2d_dispatcher)
        1    0.000    0.000    0.000    0.000 shape_base.py:82(atleast_2d)
        1    0.000    0.000    0.000    0.000 {built-in method bottleneck.reduce.nanmean}
        1    0.000    0.000    0.000    0.000 {built-in method builtins.any}
        4    0.000    0.000    0.000    0.000 {built-in method builtins.callable}
        1    0.000    0.000    0.003    0.003 {built-in method builtins.exec}
       15    0.000    0.000    0.000    0.000 {built-in method builtins.getattr}
        2    0.000    0.000    0.000    0.000 {built-in method builtins.hasattr}
       10    0.000    0.000    0.000    0.000 {built-in method builtins.hash}
       43    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        6    0.000    0.000    0.000    0.000 {built-in method builtins.issubclass}
        1    0.000    0.000    0.000    0.000 {built-in method builtins.iter}
    23/17    0.000    0.000    0.000    0.000 {built-in method builtins.len}
        2    0.000    0.000    0.000    0.000 {built-in method numpy.array}
        3    0.000    0.000    0.000    0.000 {built-in method numpy.core._multiarray_umath.implement_array_function}
        8    0.000    0.000    0.000    0.000 {built-in method numpy.geterrobj}
        4    0.000    0.000    0.000    0.000 {built-in method numpy.seterrobj}
        1    0.000    0.000    0.000    0.000 {method 'any' of 'numpy.generic' objects}
        1    0.000    0.000    0.000    0.000 {method 'append' of 'list' objects}
        1    0.000    0.000    0.000    0.000 {method 'clear' of 'dict' objects}
        2    0.000    0.000    0.000    0.000 {method 'copy' of 'numpy.ndarray' objects}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}
        4    0.000    0.000    0.000    0.000 {method 'get' of 'dict' objects}
        3    0.000    0.000    0.000    0.000 {method 'get_loc' of 'pandas._libs.index.IndexEngine' objects}
        1    0.000    0.000    0.000    0.000 {method 'pop' of 'dict' objects}
        1    0.000    0.000    0.000    0.000 {method 'reduce' of 'numpy.ufunc' objects}
        1    0.000    0.000    0.000    0.000 {method 'values' of 'dict' objects}
        1    0.000    0.000    0.000    0.000 {pandas._libs.internals.get_blkno_placements}
        5    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_float}
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_integer}
        2    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_scalar}
        3    0.000    0.000    0.000    0.000 {pandas._libs.lib.item_from_zerodim}

*Your explanation goes here*

## Part 5: Find out the top 25 titles (2.5 pts)

What are the top 25 titles? Now that we have the IMDb ratings conveniently stored in a column, display the top 25 titles, together with their IMDb rating:

In [29]:
# your code goes here
df[['title','imdb_rating']].sort_values(ascending=False, by ='imdb_rating').head(25)

                                                   title  imdb_rating
314                             The Shawshank Redemption     8.192086
12481                                    The Dark Knight     8.097916
834                                        The Godfather     8.089770
2843                                          Fight Club     8.048880
292                                         Pulp Fiction     8.022704
15480                                          Inception     7.935393
351                                         Forrest Gump     7.917781
22879                                       Interstellar     7.896385
1154                             The Empire Strikes Back     7.831115
7000       The Lord of the Rings: The Return of the King     7.831037
522                                     Schindler's List     7.806722
23673                                           Whiplash     7.801217
18465                                   The Intouchables     7.797277
256                                            Star Wars     7.780965
5481                                       Spirited Away     7.760254
4863   The Lord of the Rings: The Fellowship of the Ring     7.759254
46                                                 Se7en     7.741149
5814               The Lord of the Rings: The Two Towers     7.724400
2211                                   Life Is Beautiful     7.722473
289                               Leon: The Professional     7.712289
3030                                      The Green Mile     7.700299
1178                              The Godfather: Part II     7.693061
23753                            Guardians of the Galaxy     7.692858
2458                                          The Matrix     7.673643
1225                                  Back to the Future     7.671024

# Exercise 3: Predicting the genre of movies (40 points)

In this exercise, you'll be asked to create a number of features and use them to predict whether a movie is a science fiction movie or not. 
For this classification task, we'll work with a different part of the movies dataset, which contains more information for each movie.

In [ ]:
train_url = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/train.csv'

You'll try to predict whether a movie is a science fiction movie based on the other associated genres for the movie, the people and companies involved in making it, as well as its release date.

## Part 1: Adding binary features for genres (15 pts)

As in Exercise 1, the data on several columns is in a stringified format. Pre-process the following columns appropriately, as you did with the `genres` column in Part 1 of Exercise 1.
```
'belongs_to_collection', 'genres', 'production_companies','production_countries', 'spoken_languages', 'Keywords', 'cast', 'crew'
```
 
Don't loop explicitly over the rows to perform this preprocessing. Your dataframe should be named `train`.

In [ ]:
# your code goes here

Looking at the 'genres' column, you can see that movies have a varying number of associated genres.

In [ ]:
# this will work only if you've already preprocessed the genres' column into lists of dicts
for i, v in enumerate(train.genres.head()):
    print(i, v)

Count the number of movies that have $n$ associated genres, for each $n$ in the dataset. If a movie has no associated genres, assign it the number 0. 

You have to use Pandas built-in functions only (no explicit looping). For example, you could use `apply()` with an appropriate function to apply to each row. 

Once you have the counts, visualise them as a bar chart, with one bar per possible number of associated genres, and the height of the bar representing the number of movies with that number of genres.

In [ ]:
# your code goes here

Let's create our binary features next. Complete the following steps:
 
1.   Transform the `genres` column by replacing its current entries with the list of names of genres occurring in the entries.  For example, the entry 
```
[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]
```
should be transformed into:
```
['Romance','Comedy']
```
Empty entries should be transformed into the empty list `[]`.

2. Create a separate column (in `train`) for each of the 20 genres, with name `genres_(nameofgenre)` (e.g. `genres_Comedy`). A movie should have a 1 on a genres column if the genre is one of the associated genres for that movie, and a 0 otherwise.
    * To get started, consider what operations create a data frame with dimensions as `train` and columns as specified here, based on the list output from step 1. Then combine this data frame with `train`.

You have to use Pandas built-in functions only (no explicit looping).

In [ ]:
# your code goes here

Visualise the number of movies per top 20 genre with a chart of your choice.

In [ ]:
# your code goes here

## Part 2: Adding more binary features (5 pts)

You've now extracted binary features for all genres associated with a movie. But there's other information that we could use to base our predictions on. 

The `genres` column is just one out of several columns containing lists of dictionaries as entries. For example, the `production_companies` column also contains lists of dictionaries, providing names of the companies producing the movie. As you just did with genres, add new columns for:
 
1.   The names of the 30 most common production companies
2.   The names of the 30 most common production countries
3.   The names of the 30 most common actors (`cast` column) 
4.   The names of the 30 most common crew members
5.   The names of the 30 most common keywords
 
We recommend you generalize the functionality implemented in the previous question (e.g. to other columns and to restrict to top 30 most common values).

In [ ]:
# your code goes here

Check the result. You should now have a much wider table, with the new columns consisting of binary features.

In [ ]:
train.head()

 ## Part 3: Adding numerical date features (5 points)

Next, we'll create some features based on the release date information. Create a new column storing the value for each of the following  aspects of a release date:
 
```
['year', 'weekday', 'month', 'weekofyear', 'day', 'quarter']
```
 
As usual, don't iterate explicitly to create these columns.

In [ ]:
# your code goes here

Next, we'll drop the columns that will not be used for learning.

In [ ]:
train = train.drop(['id', 'homepage', 'original_language',
                    'title', 'imdb_id','crew', 'poster_path', 
                    'release_date', 'status', 'belongs_to_collection',
                    'Keywords', 'original_title', 'overview',
                    'production_companies', 'production_countries', 
                    'spoken_languages', 'tagline', 'cast','genres'], 
                   axis=1)

Lastly, drop any rows with missing values.

In [ ]:
# your code goes here

## Part 4: Prediction (10 pts)

Let's load the necessary `sklearn` libraries and prepare the training data for learning. Recall that your goal is to predict whether a movie has science fiction as an associated genre. So you're dealing with a binary classification task.

In [ ]:
from sklearn.model_selection import train_test_split

Use `sklearn` to prepare the training and test sets, setting aside 15% of the data for testing. Call the training input features, training labels, test input features and test labels as follows:

```
x_train, x_test, y_train, y_test
```

In [ ]:
# your code goes here

Feature scaling is a common requirement for many machine learning estimators: they might behave badly if the individual features do not more or less look like standard normally distributed data (e.g. Gaussian with 0 mean and unit variance). Run the following code to feature scale your input data.

In [ ]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(x_train)  
x_train = scaler.transform(x_train) 
x_test = scaler.transform(x_test)

Check that the shape of your data looks correct.

In [ ]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

Train a classifier of your choice. Then report results:
* Display the confusion matrix over the test set in absolute numbers.
    * These numbers reflect number of true positives, true negatives, false positives and false negatives.
* Display a normalized confusion matrix over the test set, so [sensitivity and specificity](https://en.wikipedia.org/wiki/Evaluation_of_binary_classifiers) can be read from the diagonal (off-diagonal will contain type I and type II error rates).
    * Note that sensitivity is recall for the positive class (1), whereas specificity is recall for the negative class (0).
* State **in free-text** the sensitivity and specificity of your classifier.

In [ ]:
# your code goes here

*Your explanation here*

## Part 5: Prediction with less leakage (5 points)

From Wikipedia, [data leakage](https://en.wikipedia.org/wiki/Leakage_(machine_learning)) is the use of information in the model training process which would not be expected to be available at prediction time, causing the predictive scores (metrics) to overestimate the model's utility when run in a production environment.

Feature or column-wise leakage is caused by the inclusion of columns which are one of the following: a duplicate label, a proxy for the label, or the label itself

Considering we're doing binary classification of whether a movie is science fiction, identify the most prominent cause of feature leakage among the features added during Exercise 3. 

1) **Argue** for your choice, 2) train a classifier not subject to this feature leakage (it's OK to create a new train/test split) and 3) **report the results** as you did in Part 4.

*Your explanation here*

In [ ]:
# your code goes here

# Exercise 4: Basic movie recommendation system (20 points)

In this exercise, you'll build a simple movie recommendation system.  The system will take a movie as input and recommend a list of similar movies. In order to recommend similar movies, you will use the correlation between the ratings of movies as a similarity metric. We'll use Pearson's correlation. 
 
The data for this exercise is available in the following URLs. It contains basic info about movies, as well as ratings provided by several users.

In [ ]:
url1 = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/ratings.csv'
url2 = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/movies.csv'

## Part 1: Preparing the ratings data (10 pts)

Read the data from these two URLs, and create a single dataframe from them, with the following columns:

| userId | movieId | rating | timestamp | title | genres |
|--------|---------|--------|-----------|-------|--------|
|        |         |        |           |       |        |

Call the dataframe `movie_data`.

In [ ]:
# your code goes here

To find the correlation between the ratings of movies, create a dataframe where each column is a movie name and each row contains the rating assigned by a specific user to that movie. 

You'll notice that this dataframe has many NaN values, since each movie is not rated by every user. Call the dataframe `user_ratings`.

In [ ]:
# your code goes here

## Part 2: Finding the most similar movies (10 pts)

Each column contains all the user ratings for a particular movie. Let's take the user ratings for the movie Toy Story.

In [ ]:
toystory_ratings = user_ratings['Toy Story (1995)']
toystory_ratings

Next, find the correlation between the user ratings for Toy Story and the user ratings of all other movies. 
 
More specifically, create a dataframe that contains two columns, called `title` and `Correlation`. Each row should contain a movie title $x$, followed by the pairwise correlation between the column of ratings for Toy Story and the column of ratings for $x$.  Drop any rows with null values, and display the resulting dataframe.
 
Use built-in functions to compute correlations and avoid explicit loops.

In [ ]:
# your code goes here

Sort the movies by descending order of correlation to find out highly correlated movies at the top. Display the 5 most highly correlated movies.

In [ ]:
# your code goes here

If you computed correlations correctly, you will find that the recommended movies are not very well known. We can generate more popular recommendations by finding highly correlated movies that have a sensible number of ratings. 
 
Add a column to your correlation table, called `rating_counts`, which stores the number of ratings received by each movie.

In [ ]:
# your code goes here

Now find the 5 movies with the highest correlation with Toy Story, which have strictly more than 100 ratings. Display the result below.

In [ ]:
# your code goes here